<p style="color: blue"><%= notice %</p>

<h1>Users</h1>

<%= line_chart User.all.count%>

<div id="users">
    <% @users.each do |user| %>
        <%= render user  %>
        <p>
            <%= link_to "Show this user", user %>
        </p>
    <% end %>
</div>

<%= link_to "users", new_post_path  %>